# API Configuration
PROJECT_NAME=Ghibli API Production
API_V1_STR=/api/v1
SECRET_KEY=prod-secret-key-change-me
ENVIRONMENT=production
PAGINATION_DEFAULT_LIMIT=10
CREATE_INITIAL_DATA=false

# Database Configuration
POSTGRES_USER=user_prod
POSTGRES_PASSWORD=secure_password_prod
POSTGRES_DB=ghibli_api
POSTGRES_HOST=ghibli_db_prd
POSTGRES_PORT=5432

# Redis Configuration
REDIS_HOST=ghibli_redis_prd
REDIS_PORT=6379
REDIS_TTL=3600

# JWT Configuration
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Logging Configuration
LOG_LEVEL=INFO
LOG_FORMAT=[%(levelname)s][%(filename)s:%(lineno)d][%(funcName)s]%(message)s
LOG_DATE_FORMAT=%Y-%m-%d %H:%M:%S
LOG_FILE=app.log
LOG_USE_COLORS=false

# Production Specific Settings
WORKERS_PER_CORE=1
MAX_WORKERS=2
WEB_CONCURRENCY=2